@charset "UTF-8";

@import url("vendor/normalize.css");
// $primary: #3F5866;
// $secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
$white: #02BEC4;
$dark: #02547D;
$light: #A9E8DC;
@import "../../../node_modules/bootstrap/scss/bootstrap";