{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis Project</title>
     <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
	<div class="main">
            <h1 class="center-align blue lighten-3"> ALCODING </h1>
    </div>

    <div class="container">
    <div>
        <h4>Sign Up</h4>
        <form method="post">

            {% csrf_token %}

            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" placeholder = "Enter your name" value={{ name }} >
            </div>

            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" placeholder = "Enter your email id" name="email" value={{ email }}>
            </div>

            <div>
                <label for="phone">Phone: </label>
                <input id="phone" type="tel" placeholder = "Enter your phone number" name="phone" value={{ phone }}>
            </div>

            <div>
                <label for="dob">DOB: </label>
                <input id="dob" type="date" name="dob" value={{ dob }}>
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>
                <input type="submit" value="Sign Up">
        </form>


    </div><br><br>

{#    <div><h3>Already a user?</h3><a href="login/">Login</a> </div>#}
    </div>
</body>
</html>